<h3>ProductList</h3>

@code {
    private static List<Product> Products = new List<Product>
    {
        new Product
        {
            Id = 1,
            Name = "",
            Description = "",
            ImageUrl = "",
            Price = 149.99m,
            Cost = 59.99m,
            SupplierID = 0001,
            OnHandQty = 45,
            MinQty = 10,
            LastOrderID = null,
            Tags = null
        },
        new Product
        {
            Id = 2,
            Name = "",
            Description = "",
            ImageUrl = "",
            Price = 149.99m,
            Cost = 59.99m,
            SupplierID = 0001,
            OnHandQty = 45,
            MinQty = 10,
            LastOrderID = null,
            Tags = null
        },
        new Product
        {
            Id = 3,
            Name = "",
            Description = "",
            ImageUrl = "",
            Price = 149.99m,
            Cost = 59.99m,
            SupplierID = 0001,
            OnHandQty = 45,
            MinQty = 10,
            LastOrderID = null,
            Tags = null
        },

    };
}
